body {
    font-family: "Source Sans Pro";
    color: #ffffff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.image-button {
    background: transparent;
    border: none !important;
    font-size:0;
}
.head{
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    padding-left: 1.75em;
}
.es{
    font-size: 24pt;
    font-weight: 700;
}
#nav_bar{
    float: right;
    font-size: .9em;
    padding-top: 1em;
}
#nav_bar a{
    margin-left: 2.5em;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}
.search{
    padding: 6px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: auto;
    height: 20%;
}
.head {
    grid-area: head;
}
.recommended {
    z-index: 1;
    grid-area: rec;
    border-radius: 8px;
    background: black;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
}
.video {
    grid-area: video;
    border-radius: 8px;
    background: black;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
}
.video h2{
    margin-left: 5%;
}
#info{
    grid-area: info;
    width: 90%;
}
.scores{
    grid-area: scores;
}
.scores-block{
    width: 45%;
    border-radius: 8px;
    /*background: rgba(255, 255, 255, 0.8);*/
    background: white;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
    float: left;
    /*display: block;*/
    color: black;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    height: 100px;
}
.scores-block h2{
    position: relative;
    top: 10%;
    /*display: inline-block;*/
    /*height: 50px;*/
    margin: 5%;
    vertical-align: middle;
}
.float-left{ float: left; margin-left: 5%; }
.float-right{ float: left; margin-right: 5%; }
.news{
    grid-area: news;
    /*background: black;*/
    line-height: 0.95;
    padding-left: 10px;
}
.chat{
    grid-area: chat;
    line-height: 0.95;
    /*float: left;*/
    /*height: 100%;*/
    width: 80%;
    /*border-radius: 8px;*/
    /*background: #FAFAFA;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    /*box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);*/
    border-radius: 8px;
    background: black;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
}
.chatText{
    margin: 5%;
}
.chatBox{
    padding: 6px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 75%;
    height: 30px;
    margin-top: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.foot{
    grid-area: foot;
}
.wrapper {
    transition: all .5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
    grid-gap: 10px;
    grid-template-areas:
    ". head head head head head head head head ."
    ". rec video video video video video chat chat ."
    ". rec video video video video video chat chat ."
    ". info info info info info info news news ."
    ". info info info info info info news news ."
    ". scores scores scores scores scores scores news news ."
    ". foot foot foot foot foot foot foot foot .";
}
/*@media only screen and (min-device-width: 800px) and (max-device-width: 1200px){
.wrapper{
grid-template-areas:
"head head head head head head head head head head"
"rec video video video video video video video chat chat"
"rec video video video video video video video chat chat"
"info info info info info info info info news news"
"info info info info info info info info news news"
"scores scores scores scores scores scores scores scores news news"
"foot foot foot foot foot foot foot foot foot foot";
}
}
@media only screen and (min-device-width: 600px) and (max-device-width: 799px){
.wrapper{
grid-template-areas:
"head head head head head head head head head head"
"rec video video video video video video video chat chat"
"rec video video video video video video video chat chat"
"info info info info info info info info news news"
"info info info info info info info info news news"
"scores scores scores scores scores scores scores scores news news"
"foot foot foot foot foot foot foot foot foot foot";
}
}
@media only screen and (max-device-width: 599px){
.wrapper{
grid-template-areas:
"head head head head head head head head head head"
"video video video video video video video video video video"
"info info info info info info info info info info"
"chat chat chat chat chat chat chat chat chat chat"
"scores scores scores scores scores scores scores scores scores scores"
"news news news news news news news news news news"
"foot foot foot foot foot foot foot foot foot foot";
}
.recommended{
display: none;
}
}
@media only screen and (min-width: 800px) and (max-width: 1100px){
.wrapper{
grid-template-areas:
"head head head head head head head head head head"
"rec video video video video video video video chat chat"
"rec video video video video video video video chat chat"
"info info info info info info info info news news"
"info info info info info info info info news news"
"scores scores scores scores scores scores scores scores news news"
"foot foot foot foot foot foot foot foot foot foot";
}
}
@media only screen and (min-width: 600px) and (max-width: 799px){
.wrapper{
grid-template-areas:
"head head head head head head head head head head"
"rec video video video video video video video chat chat"
"rec video video video video video video video chat chat"
"info info info info info info info info news news"
"info info info info info info info info news news"
"scores scores scores scores scores scores scores scores news news"
"foot foot foot foot foot foot foot foot foot foot";
}
}
@media only screen and (max-width: 599px){
.wrapper{
grid-template-areas:
"head head head head head head head head head head"
"video video video video video video video video video video"
"info info info info info info info info info info"
"chat chat chat chat chat chat chat chat chat chat"
"scores scores scores scores scores scores scores scores scores scores"
"news news news news news news news news news news"
"foot foot foot foot foot foot foot foot foot foot";
}
.recommended{
display: none;
}
}*/
/* Animation for games */
.games{
    z-index: 1;
}
.games:hover{
    z-index: 2;
    transition: all .2s ease-in-out;
    transform: scale(1.01);
    opacity: 1;
}
.games:not(:hover){
    background: black;
    transition: all .2s ease-in-out;
    opacity: 0.6;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
/* for events.html */
.wrapper-events {
    transition: all .5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
    grid-gap: 10px;
    grid-template-areas:
    ". head head head head head head head head ."
    ". ee e22 e23 e24 e25 e26 e27 e28 ."
    ". ee e22 e23 e24 e25 e26 e27 e28 ."
    ". aa aa aa aa aa aa aa aa ."
    ". aa aa aa aa aa aa aa aa ."
    ". aa aa aa aa aa aa aa aa ."
    ". aa aa aa aa aa aa aa aa ."
    ". aa aa aa aa aa aa aa aa ."
    ". bb bb bb bb bb bb bb bb .";
}
.events-cal-container{
    grid-area: 2 / 2 / 2 / 10;
}
.events-cal{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
}
.event{
    height: 250px;
    width: 100%;
    float: left;
    opacity: 0.9;
    background: #9B9B9B;
    border-radius: 8px;
    margin: 5px;
    transition: all .2s ease-in-out;
}
.event:hover {
    z-index: 3;
    transition: all .2s ease-in-out;
    transform: scale(1.03);
    cursor: pointer;
}
.event-text{
    margin-left: 20px;
    margin-right: 20px;
}
/*grid-area: y / x / y / x;*/
#events-cal1{ grid-area:  3 / 2 / 9 / 3; }
#events-cal2{ grid-area:  3 / 3 / 9 / 4; }
#events-cal3{ grid-area:  3 / 4 / 9 / 5; }
#events-cal4{ grid-area:  3 / 5 / 9 / 6; }
#events-cal5{ grid-area:  3 / 6 / 9 / 7; }
#events-cal6{ grid-area:  3 / 7 / 9 / 8; }
#events-cal7{ grid-area:  3 / 8 / 9 / 9; }
#event-1{ grid-area:  4 / 2 / 10 / 3; }
#event-2{ grid-area:  5 / 3  / 10 / 3; }
#event-3{ grid-area:  4 / 4  / 10 / 4; height: 150px; background: #5f64ff; }
#event-4{ grid-area:  6 / 4  / 10 / 4; }
#event-5{ grid-area:  4 / 5  / 10 / 5; }
#event-6{ grid-area:  3 / 6  / 10 / 6; }
#event-7{ grid-area:  5 / 7  / 10 / 7; background: #ac00b0;}
#event-8{ grid-area:  6 / 8  / 10 / 8; height: 100px; background: #00a1f2; }
.eventinfo{
    grid-area: bb;
    width: 60%;
    height: 600px;
    float:left;
}
#eventText{
    margin-top: 10%;
    grid-area:  9 / 3  / 9 / 6;
    float:left;
}
#eventImage2{
    margin-top: 10%;
    grid-area:  9 / 2  / 9 / 3;
    float:left;
}
.eventinfo img{
    width: 20%;
    float: left;
}
#eventImage1{
    grid-area:  9 / 7  / 9 / 9;
}
.button{
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
    color: black;
    transition: all .1s ease-in-out;
    margin-left: 15px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: left;
    text-decoration: none;
}
.button-s{
    border-radius: 6px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
    color: black;
    transition: all .1s ease-in-out;
    margin-left: 10px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    float: left;
}
/* style for news.html */
.wrapper-news {
    transition: all .5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*grid-auto-rows: minmax(10px, auto);*/
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
    grid-gap: 10px;
    grid-template-areas:
    ". head head head head head head head head ."
    ". a a a a a a c c ."
    ". b b b b b b c c .";
}
.wrapper-news a{
    color: white;
}
.news-grid {
    grid-area: b;
    /*grid-row: 2/ span 6;*/
    /*grid-column: 2/8;*/
}
.grid-container-news {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px 50px;
    padding: 10px;
    /*width: 20%;*/
    float: left;
}
.news-filter {
    grid-area: a;
    /*border: 2px solid #f7f7f7;*/
    /*border-radius: 10PX;*/
    /*padding: 6px;*/
}
.news-filter div{
    /*float: left;*/
    display: inline-block;
}
#filter{
    margin-left: 5%;
}
#filter h2{
    margin-left: 3%;
}
.featured-article{
    width: auto;
    height: auto;
    margin-top: 20px;
    float: left;
}
.featured-article img{
    float: right;
    height: auto;
    width: 50%;
}
/*.article {
grid-row: 3/ span 4;
grid-column: 3/4;
}*/
.articles{
    margin-bottom: 70px;
    margin-top: 70px;
    width: 90%;
    margin-top: 5%;
}
.featured-stories {
    grid-row: 2 / span 5;
    grid-column: 8/10;
}
/* Store.html */
.wrapper-store {
    display: grid;
    height: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
    grid-gap: 10px;
    grid-template-areas:
    ". head head head head head head head head ."
    ". ee ee ee ee ee ee ee ee ."
    ". aa aa aa aa aa aa aa aa ."
    ". aa aa aa aa aa aa aa aa ."
    ". bb bb bb bb bb bb bb bb .";
}


.wrapper-storeContent{
    display: grid;
    height: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
    grid-gap: 10px;
    grid-template-areas:
    ". head head head head head head head head ."
    ". ee ee aa aa aa aa aa . .";
}

.store-content1{
    grid-area: ee;
}

.store-content2{
    grid-area: aa;
    height: 1000px;
}
.store-container1{
    grid-area: ee;
    height: 100%;
    float: left;
}
.store-container2{
    grid-area: aa;
    /*float: left;*/
}
.store-container3{
    grid-area: bb;
    /*float: left;*/
}
.store-item {
    float: left;
    width: 12%;
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
    color: black;
    transition: all .2s ease-in-out;
    margin-left: 15px;
}
.store-item:not(:hover){
    opacity: 0.95;
}
.store-item:hover{
    z-index: 3;
    transition: all .2s ease-in-out;
    opacity: 1;
}
.store-item p, .store-item h3{
    margin-left: 1em;
    width: auto;
    font-size: 12pt;
}
.store-item img{
    width: 95%;
    margin: 2%;
    border-radius: 5%;
    height: auto;
}
.dropbtn {
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
    color: black;
    transition: all .1s ease-in-out;
    margin-left: 15px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /*float: left;*/
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    color: black;
    transition: all .1s ease-in-out;
    margin-left: 15px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
#slidecontainer{
    float: right;
    margin-right: 60%;
    width: 20%;
    display: inline-block;
}
#myRange{
    width: 100%;
}
.wrapper-stream {
    display: grid;
    height: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
    grid-gap: 10px;
    grid-template-areas:
    ". head head head head head head head head ."
    ". cc aa aa aa aa aa aa aa .";
}
.stream-poster{
    grid-area: cc;
    width: 100%;
    height: 100%;
}
.stream-poster img{
    margin-top: 6px;
}
.stream-images{
    grid-area: aa;
    width: 100%;
    height: 100%;
    margin-left: 3%;
}
.stream-icon{
    width: 325px;
    height: 225px;
    background: white;
    float: left;
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
    color: black;
    transition: all .1s ease-in-out;
    margin: 7px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /*background-image: url("../img/covers/csgo.jpg");*/
}

#stream-icon1{
background-image: url("../img/covers/csgo_scr.jpg");
background-size: cover;
color: white;
}





.stream-icon h2{
    margin-top: 50%;
    position: relative;
}
.stream-icon p{
    margin-top: -5%;
    position: relative;
}
.wrapper-streamPage{
    grid-template-areas:
    ". head head head head head head head head ."
    ". vv vv vv vv vv vv chat chat ."
    ". c c c c c c d d ."
    ". e e e e e e d d .";
}
.stream-description1{
    grid-area: c;
}
.stream-description2{
    grid-area: d;
}
.stream-description3{
    grid-area: e;
}
.stream-video{
    grid-area: vv;
    border-radius: 8px;
    background: black;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin: 5px;
}
.streamChatbox{
    padding: 6px;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 80%;
    height: 30px;
    margin-top: 73%;
    margin-left: 7%;
    margin-right: 7%;
}